@import url('https://fonts.googleapis.com/css2?family=Explora&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
*{
    margin: auto;
    box-sizing: border-box;
}
body{
    text-align: center;
}
.main1{
  display: grid;
}
.navbar{
  padding: 1.5vw 0.75vw;
  max-width: 98vw;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
}
.IEEELogo{
  margin-left: 5vw;
}
.IEEELogo img{ 
  max-width: 100px;
  max-height: inherit;
}
.navbarLinks{
  justify-content: space-around;
  align-items: center;
}
.navbarLinks a{
  color: inherit;
  text-decoration: none;
  margin: auto 3vw;
font-family: 'Inknut Antiqua', serif;
font-size: 1.5vmax;
font-weight: 700;

}
.navbarLinks a span{
background:#00db84;
background-clip: border-box;
-webkit-font-smoothing: antialiased;
background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.darkMode{
    margin-right: 2vw;
    width: 5vw;
    height: 2.5vw;
    cursor: pointer;
}
.togglingDiv{
    background: black;
    height: inherit;
    border-radius: 40px;
}
.round{
    width: 1.7vw;
    height: 1.75vw;
    margin: 0px 5px auto auto;
    border-radius: 50%;
    position: sticky;
    top: 4.2vw;
    background: white
}
.round.Left{
    margin-left: 5px;
    margin-right: auto;
    transition-duration: 1s !important;
}
.Black{
    background: black;
    color: white
}
.White{
    background: white;
    color: black
}
body {
  padding: 0;
  margin: 0;
  font-family: "Signika Negative", sans-serif, Arial;
  font-weight: 300;
}
.welcome{
    margin: auto;
    justify-content: center;
    display: flex;
  }

/* .DesignerButton{
  animation: backgroundChange 1s 1;
} */

@keyframes backgroundChange{
0%{
  color: black;
  background-image: linear-gradient(to right bottom, #2265c9, #0096ed, #00bdd1, #00db84, #a8eb12); ;
}
100%{
  color: white;
  background-color: black;
  background-image: none
}
}

.letter {
  text-align: center;
  font-size: 10vmax;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  margin: 0;
}

@keyframes toArunav {
  from{
display: none;
  }
  to{
display: flex;
margin-top: 5rem
  }
}
.to, .Arunav {
  font-size: 5vw;
  color: rgb(0, 0, 0);
  animation: toArunav 5s 1
}
.to {
  padding: 2px 1.6vmax;
  font-weight: 300;
  display: none;
}
.Arunav {
  padding: 2px 0;
  font-weight: 600;
  display: none;
}
.letter:nth-child(1) {
  background: rgba(0, 188, 212, 0.7);
}
.letter:nth-child(2) {
  background: rgba(40, 150, 255, 0.7);
}
.letter:nth-child(3) {
  background: rgba(153, 80, 220, 0.7);
}
.letter:nth-child(4) {
  background: rgba(90, 108, 225, 0.7);
}
.letter:nth-child(4) {
  background: rgba(90, 225, 207, 0.7);
}
.letter:nth-child(5) {
  background: rgba(1, 14, 100, 0.7);
}
.letter:nth-child(6) {
  background: rgba(97, 182, 0, 0.7);
}
.letter:nth-child(7) {
  background: rgba(206, 40, 129, 0.7);
}

.lessGo{
    background-image: linear-gradient(to right bottom, #2265c9, #0096ed, #00bdd1, #00db84, #a8eb12);
    width: 300px;
    height: 300px;
    outline: none;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 5rem auto 5.5rem;

}
@media (min-width: 400px){
  .letter{
    font-size: 8.6vmax
  }

}
@media (min-width: 768px){
  .letter{
    font-size: 5vmax
  }
}

@media (min-width: 1400px){
    .letter{
    font-size: 10vmax;
  }
}
@media(min-width: 1500px){
  .round{
    top: 3.6vw
  }

}
@media(min-width: 1800px){
  .round{
    top: 3.4vw
  }
}