@import url('https://fonts.googleapis.com/css2?family=Explora&family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
*{
    margin: auto;
    box-sizing: border-box;
}

#loading{
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg.zero g, svg.one g{
  animation: fillCyan 6s ease, strokeChange 2s ease infinite;
}
@keyframes fillCyan{
  0%{
    fill: #fff
  }
  50%{
    fill: transparent;
  }
    100%{
    fill: transparent;
  }
}

@keyframes strokeChange{
  0%{
    stroke: #fff
  }
    10%{
      stroke: #00ff00
  }
    20%{
  stroke: #FCF500
  }
    30%{
stroke: #FF3D2D
  }
    40%{
stroke: #31009c
  }
    50%{
stroke: #ff00aa
  }
    60%{
stroke: #43cf90
  }
    70%{
stroke: #a8eb12
  }
    80%{
stroke: #00ffea
  }
    90%{
stroke: #8400ff
  }
    100%{
stroke: #fc8600
  }
}
body{
    text-align: center;
}
.main1{
  display: grid;
}
.MainDiv{
      position: relative;
  width: 100%;
  height: 100vh;
  background-image: url('https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png'), url('https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png'), url('https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
}
.navbar{
  padding: 1vw 0.75vw;
  max-width: 100vw;
  width: 100vw;
  min-width: 320px;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 11
}
.IEEELogo{
  margin-left: 5vw;
}
.IEEELogo img{ 
  max-width: 100px;
  max-height: inherit;
}
.navbarLinks{
  justify-content: space-around;
  align-items: center;
}
.navbarLinks a{
  color: inherit;
  text-decoration: none;
  margin: auto 3vw;
font-family: 'Inknut Antiqua', serif;
font-size: 1.5vmax;
font-weight: 700;

}
.navbarLinks a span{
    background-image: url('https://images.unsplash.com/photo-1519681393784-d120267933ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1124&q=100');
            background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
}
.darkMode{
    margin-right: 2vw;
    width: 5vw;
    height: 2.5vw;
    cursor: pointer;
}
.togglingDiv{
    background: black;
    height: inherit;
    border-radius: 40px;
}
.round{
    width: 1.7vw;
    height: 1.75vw;
    margin: 0 10px auto 10px;
    border-radius: 50%;
    position: sticky;
    top: 4.2vw;
    background: white
}
.round.Left{
    margin-left: 5px;
    margin-right: auto;
    transition-duration: 1s !important;
}
.Black{
    background: black !important;
    color: white
}
.White{
    background: white;
    color: black
}
body {
  padding: 0;
  margin: 0;
  font-family: "Signika Negative", sans-serif, Arial;
  font-weight: 300;
  overflow-x: hidden
}
.welcome{
    margin: auto;
    justify-content: center;
    display: flex;
    position: relative
  }

.DesignerButton{
  animation: backgroundChange 1s 1;
}

@keyframes backgroundChange{
0%{
  color: black;
  background-image: linear-gradient(to right bottom, #2265c9, #0096ed, #00bdd1, #00db84, #a8eb12); ;
}
100%{
  color: white;
  background-color: black;
  background-image: none;
}
}

.letter {
  text-align: center;
  font-size: 10vmax;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px 6px;
  margin: 0;
}

@keyframes toArunav {
  from{
display: none;
  }
  to{
display: flex;
margin-top: 5rem
  }
}
.to, .Arunav {
  font-size: 5vw;
  color: rgb(0, 0, 0);
  animation: toArunav 5s 1
}
.to {
  padding: 2px 1.6vmax;
  font-weight: 300;
  display: none;
}
.Arunav {
  padding: 2px 0;
  font-weight: 600;
  display: none;
}
.letter:nth-child(1) {
  background: rgba(0, 188, 212, 0.7);
}
.letter:nth-child(2) {
  background: rgba(40, 150, 255, 0.7);
}
.letter:nth-child(3) {
  background: rgba(153, 80, 220, 0.7);
}
.letter:nth-child(4) {
  background: rgba(90, 108, 225, 0.7);
}
.letter:nth-child(4) {
  background: rgba(90, 225, 207, 0.7);
}
.letter:nth-child(5) {
  background: rgba(1, 14, 100, 0.7);
}
.letter:nth-child(6) {
  background: rgba(97, 182, 0, 0.7);
}
.letter:nth-child(7) {
  background: rgba(206, 40, 129, 0.7);
}

.lessGo{
    width: 100px;
    height: 100px;
    outline: none;
    border-radius: 50%;
    font-size: 2rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    margin: 8rem auto 0;
background: transparent;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  -webkit-text-fill-color: transparent;
  color: transparent;
  border: 28px solid black;
  filter: blur(0px)
}
.BlackLessGo{
  border: 28px solid white;
}
.lessGo:before{
    content:"";
  z-index:-1;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.lessGo,
.lessGo:before {   
  background-size: 100% 200%;
  background-position: top;
}



.lessGo:hover,
.lessGo:hover:before{
  background-position: bottom;
}
@media (min-width: 300px){
  .round{
        width: 1.55vw;
    height: 1.55vw;
    margin: 0px 2px auto auto;
    border-radius: 50%;
    position: sticky;
    top: 5.4vw;
    background: white;
  }
  .IEEELogo{
    margin-left: 1vw;
  }
  .letter{
    font-size: 7vmax
  }
  .IEEELogo img{
    width: 35px
  }
  .navbarLinks a span{
    font-size: 1vmax
  }
  .navbarLinks a{
    margin: auto 1vw
  }
  svg.zero, svg.one{
    width: inherit;
    height: 200px
  }
}

@media (min-width: 768px){
  .letter{
    font-size: 5vmax
  }
  .IEEELogo img{ 
  width: 15vw;
  max-height: inherit;
}
  .navbarLinks a span{
    font-size: 1.5vmax
  }
  .darkMode{
    width: 6vw;
    height: 3vw;
  }
.wrapper1{
  margin-top: 5%
}
  .round{
        top: 7.2vw;
        height: 2vw;
        width: 2vw;
            margin: 0px 5px auto auto;
  }
}

@media (min-width: 1400px){
    .letter{
    font-size: 10vmax;
  }
    svg.zero, svg.one{
    width: auto;
    height: auto;
    margin: auto 0
  }
    .round{
    top: 4vw
  }
  .wrapper1{
  margin-top: 0%
}
}
@media(min-width: 1500px){
  .round{
    top: 3.4vw
  }
  .IEEELogo{
  margin-left: 5vw;
}

  .navbarLinks a span{
    font-size: 2vmax;
    line-height: 2.1vmax;
  }
.IEEELogo img{ 
  width: 15vw;
  max-height: inherit;
}

}
@media(min-width: 1800px){
  .round{
    top: 2.7vw;
    margin: 0px 10px 0  auto;
  }
  .IEEELogo img{ 
  width: 15vw;
  max-height: inherit;
}
.lessGo{
  width: 10rem;
  height: 10rem;
  margin-top: 17rem;
  border: 60px solid black
}
.BlackLessGo{
  border: 60px solid white
}
}